@font-face {
	font-family: "Inter";
	src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf) format("truetype");
}

html {
	/*Typography stuff*/
	font-family: "Inter";
	font-size: 14px;
	color: hsl(0, 0%, 100%);
}

body {
	/*Display stuff*/
	display: flex;
	align-items: center;
	justify-content: center;
	/*Box model stuff*/
	margin: 0;
	background-color: hsl(0, 0%, 8%);
}

main {
	/*Display stuff*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/*Box model stuff*/
	width: 320px;
	margin: 175px 0px;
	padding: 40px;
	border-radius: 10px;
	background-color: hsl(0, 0%, 12%);
}

.banner img {
	/*Box model stuff*/
	width: 90px;
	height: 90px;
	border-radius: 50%;
}

.details {
	/*Display stuff*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/*Box model stuff*/
	margin-top: 30px;
	/*Miscellaneous*/
	gap: 10px;
}

.details h1 {
	/*Box model stuff*/
	margin: 0px;
	/*Typography stuff*/
	font-size: 25px;
	font-weight: 500;
}

.details h2 {
	/*Typography stuff*/
	font-size: 14px;
	font-weight: 600;
	color: hsl(75, 94%, 57%);
}

.details span {
	/*Box model stuff*/
	margin: 20px 0px;
	/*Typography stuff*/
	font-weight: 300;
}

.links {
	/*Display stuff*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/*Box model stuff*/
	width: 100%;
	/*Miscellaneous*/
	gap: 15px;
}

.links a {
	/*Display stuff*/
	display: flex;
	align-items: center;
	justify-content: center;
	/*Box model stuff*/
	width: 100%;
	height: 50px;
	border-radius: 10px;
	background-color: hsl(0, 0%, 20%);
	/*Typography stuff*/
	font-weight: 700;
	color: white;
	/*Manipulations stuff*/
	transition: all ease 0.3s;

}

.links a:hover {
	/*Box model stuff*/
	background-color: hsl(75, 94%, 57%);
	/*Typography stuff*/
	color: hsl(0, 0%, 20%);
	/*Manipulations stuff*/
	transition: all ease 0.3s;
}
